<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Đăng nhập</title>
    <link th:href="@{CSS/login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<section>
    <div class="form-box">
        <div class="form-value">
            <form th:action="@{/login}" method="post" th:object="${loginDto}" class="needs-validation" novalidate>
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input th:field="*{email}" type="text" class="form-control" id="username" name="username" autofocus="autofocus" required />
                    <label>Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input th:field="*{password}" type="password" class="form-control" id="password" name="password" required>
                    <label>Password</label>
                </div><br>
                <!-- Thêm nút đăng nhập bằng Google -->
<!--                <div><h4><a th:href="@{/oauth2/authorization/google}" id="google-login-link">Đăng nhập bằng Google</a></h4></div>-->


                <br>

                <p th:text="${loginError}" class="error text-danger"></p>
                <br>
                <div class="forgot">
                    <a href="#">Forgot Password</a>

                </div>
                <button type="submit">Log in</button>
                <div class="register">
                    <p>Don't have an account <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>