<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    &lt;!&ndash; Các phần khác của tiêu đề &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<div th:if="${movie != null}">-->
<!--    <h1 th:text="${movie.movieName}"></h1>-->
<!--    <p>Thể loại: <span th:text="${movie.genre}"></span></p>-->
<!--    <p>Đạo diễn: <span th:text="${movie.director}"></span></p>-->
<!--    <p>Ngày công chiếu: <span th:text="${#dates.format(movie.releaseDate, 'dd/MM/yyyy')}"></span></p>-->
<!--    <p>Điểm trung bình: <span th:text="${movie.averageGrade}"></span></p>-->
<!--    &lt;!&ndash; Các thông tin khác về phim &ndash;&gt;-->
<!--</div>-->
<!--<div th:if="${errorMessage != null}" class="alert alert-danger">-->
<!--    <p th:text="${errorMessage}"></p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/CSS/movie-detail.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/CSS/images/logo.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/CSS/images/logo.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/CSS/images/logo.png}">


    <title>Review Phim</title>
    <meta name="description"
          content="Review Phim">
    <meta property="og:title"
          content="Review Phim">
    <meta property="og:description"
          content="Review Phim">
    <meta property="og:type" content="website">
    <!--    <meta property="og:url" content="https://reviewcty.net">-->
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Review Phim">
    <meta property="og:image" th:src="@{/CSS/images/logo.png}">

    <meta name="language" content="vietnamese">

    <!-- Thêm Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    </head>
<body>
<div id="popup">
    <form th:action="@{'/add-feedback/' + ${movie.movieId}}" method="post" id="writeReview">
        <div class="wave-group" th:if="${session.user!=null}">
            <input type="text" class="input" id="detailName" name="name"
                   style="margin-top: 20px;width: 80%" th:text="${user.getName()}"  readonly>
            <span class="bar"></span>
            <label class="label">
                <span class="label-char" style="--index: 0">N</span>
                <span class="label-char" style="--index: 1">a</span>
                <span class="label-char" style="--index: 2">m</span>
                <span class="label-char" style="--index: 3">e</span>
            </label>
        </div>
        <div class="wave-group" style="margin-top: 20px;">
            <label>
                Comment
            </label><br>
            <textarea rows="10" cols="25" id="detailDescribe" name="comment" style="width: 80%;font-size: 16px;"
                      placeholder="Comment here...">

            </textarea>

        </div>
        <div class="wave-group">
            <input type="number" class="input" id="detailGrade" name="grade"
                   style="margin-top: 20px;width: 80%" min="1" max="10" required>
            <span class="bar"></span>
            <label class="label">
                <span class="label-char" style="--index: 0">G</span>
                <span class="label-char" style="--index: 1">r</span>
                <span class="label-char" style="--index: 2">a</span>
                <span class="label-char" style="--index: 3">d</span>
                <span class="label-char" style="--index: 4">e</span>
            </label>
        </div>
        <div class="" style="margin-top: 20px;">

            <button type="submit" name="submitReview" value="submitReview"
                    style="padding: 10px;cursor: pointer;border-radius: 7px;border: 1px solid #5c636a;margin-right: 20px;">
                Đăng Review
            </button>
            <button type="button" onclick="toggle()"
                    style="padding: 10px;cursor: pointer;border-radius: 7px;border: 1px solid #5c636a">Đóng
            </button>
        </div>
        <span>Lưu ý rằng bạn cần đăng nhập để đăng feedback.</span>
    </form>
</div>
<div id="popup1">
    <form th:action="@{'/add-url/' + ${movie.movieId}}" method="post" id="writeUrl">
        <div class="wave-group" th:if="${session.user!=null}">
            <input type="text" class="input" id="detailUName" name="name"
                   style="margin-top: 20px;width: 80%" th:text="${user.getName()}"  readonly>
            <span class="bar"></span>
            <label class="label">
                <span class="label-char" style="--index: 0">N</span>
                <span class="label-char" style="--index: 1">a</span>
                <span class="label-char" style="--index: 2">m</span>
                <span class="label-char" style="--index: 3">e</span>
            </label>
        </div>
        <div class="wave-group" style="margin-top: 20px;">
            <label>
                Dán link ở đây:
            </label><br>
            <textarea rows="10" cols="25" id="detailUrl" name="link" style="width: 80%;font-size: 16px;"
                      placeholder="Paste here...">

            </textarea>

        </div>
        <div class="" style="margin-top: 20px;">

            <button type="submit" name="submitReview" value="submitReview"
                    style="padding: 10px;cursor: pointer;border-radius: 7px;border: 1px solid #5c636a;margin-right: 20px;">
                Góp url
            </button>
            <button type="button" onclick="toggle1()"
                    style="padding: 10px;cursor: pointer;border-radius: 7px;border: 1px solid #5c636a">Đóng
            </button>
        </div>
        <span>Lưu ý rằng bạn cần đăng nhập để góp link phim</span>
    </form>
</div>


<div id="blur">
    <nav class="main-nav navbar">
        <div class="container">
            <div class="logo">
                <a th:href="@{/}" class="home-logo">
                    <img class="logo-img" th:src="@{/CSS/images/logo.png}" alt="">
                </a>
                <h1 class="logo-text" style="font-weight: bold">
                    <a th:href="@{/}" class="home-logo">RevPhim</a>
                </h1>
            </div>
            <div th:if="${session.user==null}" style="height: 100%; width: 30%">
                <ul style="height: 100%; width: 100%;">
                    <li class="nav-item"
                        style=" color: white; font-weight: bold; padding-top: 5px; float: right; height: 100%; padding: 5%">
                        <a class="nav-link" href="/login">Đăng nhập</a>
                    </li>
                    <li class="nav-item"
                        style=" color: white; font-weight: bold; padding-top: 5px; float: right; height: 100%; padding: 5%">
                        <a class="nav-link" href="/register">Đăng ký</a>
                    </li>
                </ul>
            </div>
            <div th:if="${session.user!=null}" style="height: 100%; width: 30%">
                <ul style="height: 100%; width: 100%;">
                    <li class="nav-item"
                        style=" color: white; font-weight: bold; padding-top: 5px; float: right; height: 100%; padding: 5%">
                        <a class="nav-link" href="/logout">Đăng xuất </a>
                    </li>

                    <li class="nav-item"
                        style=" color: white; font-weight: bold; padding-top: 5px; float: right; height: 100%; padding: 5%">
                        <a class="nav-link" href="#">Xin chào</a><span th:text="${name}"></span>
                    </li>

                </ul>
            </div>


        </div>
    </nav>

    <div th:if="${movie != null}">
        <div class="container body-content">
            <div class="container">
                <section class="company-info-company-page">
                    <div class="row">
                        <div class="company-info col-md-9">
                            <div class="company-info d-flex justify-content-between">
                                <img th:src="${movie.getImage()}" class="col-md-4"
                                     alt="VTC Academy" title="VTC Academy">
                                <div class="company-info__detail col-md-7">
                                    <h2 class="is-size-5 has-text-weight-semibold company-info__name">
                                        Tên phim: <a th:href="@{'/movie-detail/' + ${movie.movieId}}"
                                                     class="company-link"
                                                     style="text-decoration: none" th:text="${movie.movieName}"></a>

                                    </h2>
                                    <div class="company-info__other">
                                    <span class="sp-mr">
                                       Thể loại: <span class="icon"> <i class="fas fa-briefcase"></i></span><span
                                            th:text="${movie.getGenre()}"></span>
                                    </span><br>
                                        <span style="font-weight: bold">
                                       Điểm trung bình: <span class="icon"> <i class="fas fa-users"></i> </span>
                                            <span th:if="${movie.getAverageGrade()==null}">Chưa có đánh giá</span>
                                            <span
                                                th:text="${movie.getAverageGrade()}"></span>
                                    </span>
                                    </div>
                                    <div class="company-info__location">
                                    <span>
                                       Đạo diễn: <span class="icon"> <i class="fas fa-building"></i> </span> <span
                                            th:text="${movie.getDirector()}"></span>
                                    </span>
                                    </div>
                                    <div class="company-info__location">
                                    <span>
                                       Ngày ra mắt: <span class="icon"> <i class="fas fa-building"></i> </span> <span
                                            th:text="${movie.getReleaseDate()}"></span>
                                    </span>
                                    </div>
                                    <div class="company-info__location">
                                    <span>
                                       Mô tả: <span class="icon"> <i class="fas fa-building"></i> </span> <span
                                            th:text="${movie.getDescription()}"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:if="${urls != null}">
                            <h3>URLs xem phim:</h3>
                            <ul>
                                <li th:each="url : ${urls}">
                                    <a th:href="${url.getUrlValue()}" th:text="${url.getUrlValue()}">Link</a>
                                </li>
                            </ul>
                        </div>


                        <div class="company-action col-md-3 text-center">
                            <button class="btn btn-success pull-right justify-content-center btn-create-review"
                                    type="button"
                                    data-toggle="modal" data-target="#reviewModal" onclick="toggle()">
                                <span class="icon"> <i class="fas fa-pencil-alt"></i> </span> <span>Viết review</span>
                            </button>
                        </div>
                        <div class="company-action col-md-3 text-center">
                            <button class="btn btn-success pull-right justify-content-center btn-create-review"
                                    type="button"
                                    data-toggle="modal" data-target="#reviewModal" onclick="toggle1()">
                                <span class="icon"> <i class="fas fa-pencil-alt"></i> </span> <span>Góp url</span>
                            </button>
                        </div>
                    </div>
                </section>
                <section class="review">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="column is-one-quarter-tablet">
                                <div class="box m-b-10">
                                    <h4 class="is-size-5 has-text-weight-bold m-b-10 total-rev text-center">
                                        Tổng Review <span class="is-size-6 has-text-weight-light">
                            <span>
                                        <span class="icon is-small has-text-warning">
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span class="icon is-small has-text-warning">
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                        <span class="icon is-small has-text-warning">
                                            <i class="far fa-star"></i>
                                        </span>
                                        <span class="icon is-small has-text-warning">
                                            <i class="far fa-star"></i>
                                        </span>
                                        <span class="icon is-small has-text-warning">
                                            <i class="far fa-star"></i>
                                        </span>
                            </span>
                            (<span class="company-info__rating-count" th:text="${totalFeedback}"></span>)
                        </span>
                                    </h4>

                                    <ul>
                                        <li class="li-rate">
                                            <span class="review-point mr-10">5 sao</span>
                                            <progress class="progress is-info mr-10" value="0" max="11"></progress>
                                            <span class="review-percent"> 0 reviews</span>
                                        </li>
                                        <li class="li-rate">
                                            <span class="review-point mr-10">4 sao</span>
                                            <progress class="progress is-info mr-10" value="0" max="11"></progress>
                                            <span class="review-percent"> 0 reviews</span>

                                        </li>
                                        <li class="li-rate">
                                <span class="review-point mr-10">
                                    <a href="/company/earable-vietnam?rate=3" class="link-rate">3 sao</a>
                                </span>
                                            <progress class="progress is-info mr-10" value="2" max="11"></progress>
                                            <span class="review-percent"><a href="/company/earable-vietnam?rate=3"
                                                                            class="rv-count"> 2 reviews</a></span>
                                        </li>
                                        <li class="li-rate">
                                            <span class="review-point mr-10">2 sao</span>
                                            <progress class="progress is-info mr-10" value="0" max="11"></progress>
                                            <span class="review-percent"> 0 reviews </span>

                                        </li>
                                        <li class="li-rate">
                                <span class="review-point mr-10">
                                    <a href="/company/earable-vietnam?rate=1" class="link-rate">1 sao</a>
                                </span>
                                            <progress class="progress is-info mr-10" value="11" max="11"></progress>
                                            <span class="review-percent"><a href="/company/earable-vietnam?rate=1"
                                                                            class="rv-count"> 11 reviews</a></span>
                                        </li>
                                    </ul>

                                    <p class="has-text-weight-medium text-center">Đang hiển thị toàn bộ review</p>
                                </div>
                            </div>

                        </div>
                        <!-- Hiển thị danh sách đánh giá -->
                        <div class="col-md-8" th:if="${totalFeedback > 0}">

                            <h3 class="is-size-5 has-text-weight-semibold company-info__name">
                                Review phim <span th:text="${movie.getMovieName()}"></span>
                            </h3>



                            <!-- Hiển thị đánh giá -->
                            <div th:each="f : ${feedback}" class="feedback card card-rv">
                                <style>
                                    .card-header {
                                        font-weight: 700;
                                        display: flex;
                                    }
                                    .card{
                                        margin-top:10px;
                                    }
                                    .card-footer {
                                        display: flex;
                                        padding: 0px;
                                        border-bottom: 1px solid rgba(0, 0, 0, .125);
                                    }

                                    .review-comments {
                                        padding: 1rem;
                                    }

                                    .comment {
                                        border-top: 1px solid rgba(128, 128, 128, 0.35);
                                    }

                                    .comment__title {
                                        margin-bottom: 0;
                                        margin-top: .2rem;
                                    }

                                    .comment__content {
                                        margin-bottom: 0.2rem;
                                        margin-top: 0.2rem;
                                    }
                                </style>
                                <div class="card-header">
                                    <span th:text="${f.getUser().getName()}"></span>&nbsp; đã comment phim:&nbsp;
                                    <p class="name-rv" th:text="${f.getMovieId().getMovieName()}"></p>&nbsp;
                                    <span class="formattedCreatedAt" th:text="${f.getCreatedAt()}"></span>&nbsp;
                                </div>
                                <div class="card-body">
                                    Bình luận <p class="card-text text-content" th:text="${f.getComment()}"></p>
                                </div>
                                <div class="review-comments">
                                    <div class="comment">
                                        <p class="comment__title">
                                            Điểm: <span class="has-text-weight-bold" th:text="${f.getGrade()}"></span>
                                        </p>
                                    </div>
                                </div>
                                <!-- Hiển thị phản hồi -->
                                <div th:each="reply : ${f.getReplies()}" class="reply card">
                                    <div class="card-body">
                                        <p class="card-text" style="font-weight: bold">
                                            <small class="text-muted">
                                                <span th:text="'Người dùng ' + ${reply.getRepliedBy().getName()} + ' trả lời vào lúc ' + ${#temporals.format(reply.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></span>
                                            </small>
                                        </p>
                                        <p class="card-text text-content" th:text="${reply.getContent()}"></p>

                                    </div>
                                </div>
                                <!-- Thêm nút "Reply" và form trả lời -->
                                <div class="card-footer">
                                    <button type="button" style="margin: 2px" class="btn btn-primary" th:onclick="'toggleReplyForm(' + ${f.id} + ')'">
                                        Reply
                                    </button>
                                    <div th:id="'replyForm' + ${f.id}" class="reply-form collapse">
                                        <form th:action="@{'/reply-feedback/' + ${movie.getMovieId()} + '/' + ${f.id}}" method="post">
                                            <div class="form-group">
                                                <label for="replyContent">Reply:</label>
                                                <textarea class="form-control" id="replyContent" name="reply" rows="3" required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-success">Send Reply</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Phân trang -->
                                <ul class="pagination" >
                                    <li th:if="${currentPage > 0}">
                                        <a th:href="@{/movie-detail/{movieId}(movieId=${movie.getMovieId()},page=${currentPage - 1})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="pageItem : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == pageItem} ? 'active'">
                                        <a th:href="@{/movie-detail/{movieId}(movieId=${movie.getMovieId()},page=${pageItem})}" th:text="${pageItem + 1}"></a>
                                    </li>
                                    <li th:if="${currentPage < totalPages - 1}">
                                        <a th:href="@{/movie-detail/{movieId}(movieId=${movie.getMovieId()},page=${currentPage + 1})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>



                        </div>
                        <div class="col-md-8" th:unless="${totalFeedback > 0}">
                            <!-- Hiển thị thông báo khi không có feedback -->
                            <p>Hiện chưa có bình luận nào cho phim này.</p>
                        </div>

                    </div>


                </section>
            </div>

            <hr/>
        </div>

    </div>

    <hr/>
    <footer class="main-footer">
        <div class="level text-center">
            <div class="level-left">
                <p class="level-item" style="color: white; padding-top: 30px">
                    <span>@Copyright by Datnt</span>
                </p>
            </div>
        </div>
    </footer>
</div>
<script th:inline="javascript">
    function toggle1() {
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('popup1');
        popup.classList.toggle('active');
    }

    function alertDelete(id) {
        document.getElementById("deleteId").value = id;
    }

    function toggleDelete() {
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var deleteDiv = document.getElementById('deleteDiv');
        deleteDiv.classList.toggle('active');
    }

    function toggle() {
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('popup');
        popup.classList.toggle('active');
    }
</script>
<script th:inline="javascript" type="text/javascript">
    function formatCreatedAt() {
        var createdAtElements = document.querySelectorAll('.formattedCreatedAt');

        createdAtElements.forEach(function(element) {
            var createdAtValue = element.textContent;
            var date = new Date(createdAtValue);

            var day = date.getDate();
            var month = date.getMonth() + 1; // Tháng trong JavaScript bắt đầu từ 0, nên cộng thêm 1.
            var year = date.getFullYear();

            var formattedDate = day + '-' + month + '-' + year;
            element.textContent = "vào ngày " + formattedDate;
        });
    }
</script>
<script th:inline="javascript" type="text/javascript">
    // Gọi hàm formatCreatedAt để định dạng lại thời gian cho tất cả các phản hồi
    formatCreatedAt();
</script>

<script th:inline="javascript">
    function toggleReplyForm(feedbackId) {
        var formId = 'replyForm' + feedbackId;
        var form = document.getElementById(formId);

        if (form.classList.contains('show')) {
            form.classList.remove('show');
        } else {
            form.classList.add('show');
        }
    }
</script>


</body>
</html>

